<div class="center">
	<h1>About Me</h1>

	<p>I live in Kyrgyzstan, in Central Asia.</p>
	<p>I like programming.</p>
	<p>I like Math.</p>
	<p>I like to read books.</p>
	<p>I don't like physical exercise.</p>
	<p>Sometimes, for fun, I try to figure out mathematical formulas to solve for a series of numbers.</p>
</div>