<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <%= params["message"] %>
    <p>Sent from </p> <%= params["name"] %> <p> at </p> <%= params["email"] %>
    <p>To reply by phone, call </p> <%= params["phone"] %>
  </body>
</html>