<header>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <img class="img-responsive" src="/something_different.png" alt="">
                <div class="intro-text">
                    <%= link_to 'articles' do %>
                    	<span class="name" style="color: white;">My Awesome Blog</span>
                    <% end %>
                    <hr class="star-light">
                    <span class="skills">Blogging site - Gaming site</span>
                </div>
            </div>
        </div>
    </div>
</header>

<!-- Shifty Section -->
<section id="portfolio">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>Shifty</h2>
                <hr class="star-primary">
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4 portfolio-item">
                <a href="#portfolioModal1" class="portfolio-link" data-toggle="modal">
                    <div class="caption">
                        <div class="caption-content">
                            <i class="fa fa-search-plus fa-3x"></i>
                        </div>
                    </div>
                    <img src="/assets/portfolio/cabin.png" class="img-responsive" alt="">
                </a>
    		</div>
        </div>
    </div>
</section>

<!-- About Section -->
<section class="success" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>About</h2>
                <hr class="star-light">
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-lg-offset-2">
                <p>This is a blogging website that is for those who wish to express themselves.</p>
            </div>
            <div class="col-lg-4">
                <p>There is also a game that you can play, <%= link_to 'articles' do %>Shifty<% end %></p>
            </div>
        </div>
    </div>
</section>

<!-- Contact Section -->
<section id="contact">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>Contact Me</h2>
                <hr class="star-primary">
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h3 style="text-align: center; color: red;">Error!!<br>There is nothing here yet!</h3>
            </div>
        </div>
    </div>
</section>