<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <%= @message %>
    <br>
    <br>
    <p>Sent from <%= @name %> at <%= @email %></p>
    <p>To reply by phone, call <%= @phone %></p>
  </body>
</html>